@import './bootstrap.scss';
@import './bootstrap-grid.scss';
body {
  height: 100vh;
}
.select-bar {
  width: auto;
  display: inline-flex;
}
#btn-container {
  display: inline-flex;
}
.progress {
  background-color: var(--dark);
}